option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NEXTAUTH_URL: https://production-stable.eba-qnkd628d.eu-west-1.elasticbeanstalk.com
    NEXTAUTH_SECRET: eb-production-secret-key-2025
    NEXT_PUBLIC_AWS_REGION: eu-west-1
    NEXT_PUBLIC_AWS_S3_BUCKET: utility-bills-1747952656-2924
    BILLS_TABLE_NAME: UtilityBills
  aws:elasticbeanstalk:command:
    Timeout: 600